In [1]:
import pandas as pd
import plotly.express as px
from sodapy import Socrata
import geopandas as gpd
import requests
from pandas.io.json import json_normalize

In [3]:
#Creating a socrata client
# connect to the data portal
client = Socrata("data.lacity.org", None)

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("vt5t-mscf",
                    locarea ='WILSHIRE BL',
                    city_name='LOS ANGELES',
                    limit = 4000)

# Convert to pandas DataFrame
df = pd.DataFrame.from_records(results)
# print it with .sample, which gives you random rows
df.sample(2)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

,trees_id,trees_id2,tr_rec,locarea,locunit,locsubunit,locsite,spp,common,botanical,...,utdescription_other,curb,stock_size,sidewalk,trees_street_id,date_root_prune_curb,date_root_prune_driveway,date_root_prune_sidewalk,note_id,location_1
18,12523,384592f4374,328799,WILSHIRE BL,10747,S,1,150,JACARANDA,Jacaranda mimosifolia,...,NULL,NULL,NULL,NULL,395856,NULL,NULL,NULL,NULL,"{'latitude': '-118.438', 'longitude': '34.0604..."
293,120782,384592f4176,328629,WILSHIRE BL,10101,S,9,96,CALIFORNIA SYCAMORE,PLATANUS RACEMOSA,...,NULL,ON GRADE,NULL,NULL,395819,NULL,NULL,NULL,NULL,"{'latitude': '-118.42', 'longitude': '34.0676'..."

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 409 entries, 0 to 408
Data columns (total 73 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   trees_id                  409 non-null    object
 1   trees_id2                 409 non-null    object
 2   tr_rec                    409 non-null    object
 3   locarea                   409 non-null    object
 4   locunit                   409 non-null    object
 5   locsubunit                409 non-null    object
 6   locsite                   409 non-null    object
 7   spp                       409 non-null    object
 8   common                    409 non-null    object
 9   botanical                 409 non-null    object
 10  on_strt                   409 non-null    object
 11  from_strt                 409 non-null    object
 12  to_strt                   409 non-null    object
 13  gisno                     409 non-null    object
 14  ext                       409 non-null    object
 15  area                      409 non-null    object
 16  treeloc                   409 non-null    object
 17  dbh                       409 non-null    object
 18  inv_date                  409 non-null    object
 19  drgmapname                409 non-null    object
 20  drglayer                  409 non-null    object
 21  drgxcoord                 409 non-null    object
 22  drgycoord                 409 non-null    object
 23  x_original                409 non-null    object
 24  y_original                409 non-null    object
 25  dir                       409 non-null    object
 26  des_spp1                  409 non-null    object
 27  trunks                    409 non-null    object
 28  ht                        409 non-null    object
 29  cond                      409 non-null    object
 30  mt                        409 non-null    object
 31  pest                      409 non-null    object
 32  veg                       409 non-null    object
 33  wellstat                  409 non-null    object
 34  wellcov                   409 non-null    object
 35  guard                     409 non-null    object
 36  ut                        409 non-null    object
 37  utob                      409 non-null    object
 38  cd                        409 non-null    object
 39  dist                      409 non-null    object
 40  tg_pg                     409 non-null    object
 41  tg_coord                  409 non-null    object
 42  cmap                      409 non-null    object
 43  hd                        409 non-null    object
 44  grow                      409 non-null    object
 45  hist_id                   409 non-null    object
 46  exp_id                    409 non-null    object
 47  up_date                   409 non-null    object
 48  staff                     409 non-null    object
 49  un                        409 non-null    object
 50  blsd                      409 non-null    object
 51  download                  409 non-null    object
 52  notes                     409 non-null    object
 53  city_name                 409 non-null    object
 54  blsdval                   409 non-null    object
 55  mdist                     409 non-null    object
 56  growmatl                  409 non-null    object
 57  growsize                  409 non-null    object
 58  growtype                  409 non-null    object
 59  type                      409 non-null    object
 60  x                         409 non-null    object
 61  y                         409 non-null    object
 62  utdescription             409 non-null    object
 63  utdescription_other       409 non-null    object
 64  curb                      409 non-null    object
 65  stock_size                409 non-null    object
 66  sidewalk                  409 non-null    object
 67  trees_street_id           409 non-null    object
 68  date_root_prune_curb      409 non-null    object
 69  date_root_prune_driveway  409 non-null    object
 70  date_root_prune_sidewalk  409 non-null    object
 71  note_id                   409 non-null    object
 72  location_1                409 non-null    object
dtypes: object(73)
memory usage: 233.4+ KB

In [5]:
df['x'] = df.x.astype(float)
df['y'] = df.y.astype(float)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 409 entries, 0 to 408
Data columns (total 73 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   trees_id                  409 non-null    object
 1   trees_id2                 409 non-null    object
 2   tr_rec                    409 non-null    object
 3   locarea                   409 non-null    object
 4   locunit                   409 non-null    object
 5   locsubunit                409 non-null    object
 6   locsite                   409 non-null    object
 7   spp                       409 non-null    object
 8   common                    409 non-null    object
 9   botanical                 409 non-null    object
 10  on_strt                   409 non-null    object
 11  from_strt                 409 non-null    object
 12  to_strt                   409 non-null    object
 13  gisno                     409 non-null    object
 14  ext                       409 non-null    object
 15  area                      409 non-null    object
 16  treeloc                   409 non-null    object
 17  dbh                       409 non-null    object
 18  inv_date                  409 non-null    object
 19  drgmapname                409 non-null    object
 20  drglayer                  409 non-null    object
 21  drgxcoord                 409 non-null    object
 22  drgycoord                 409 non-null    object
 23  x_original                409 non-null    object
 24  y_original                409 non-null    object
 25  dir                       409 non-null    object
 26  des_spp1                  409 non-null    object
 27  trunks                    409 non-null    object
 28  ht                        409 non-null    object
 29  cond                      409 non-null    object
 30  mt                        409 non-null    object
 31  pest                      409 non-null    object
 32  veg                       409 non-null    object
 33  wellstat                  409 non-null    object
 34  wellcov                   409 non-null    object
 35  guard                     409 non-null    object
 36  ut                        409 non-null    object
 37  utob                      409 non-null    object
 38  cd                        409 non-null    object
 39  dist                      409 non-null    object
 40  tg_pg                     409 non-null    object
 41  tg_coord                  409 non-null    object
 42  cmap                      409 non-null    object
 43  hd                        409 non-null    object
 44  grow                      409 non-null    object
 45  hist_id                   409 non-null    object
 46  exp_id                    409 non-null    object
 47  up_date                   409 non-null    object
 48  staff                     409 non-null    object
 49  un                        409 non-null    object
 50  blsd                      409 non-null    object
 51  download                  409 non-null    object
 52  notes                     409 non-null    object
 53  city_name                 409 non-null    object
 54  blsdval                   409 non-null    object
 55  mdist                     409 non-null    object
 56  growmatl                  409 non-null    object
 57  growsize                  409 non-null    object
 58  growtype                  409 non-null    object
 59  type                      409 non-null    object
 60  x                         409 non-null    float64
 61  y                         409 non-null    float64
 62  utdescription             409 non-null    object
 63  utdescription_other       409 non-null    object
 64  curb                      409 non-null    object
 65  stock_size                409 non-null    object
 66  sidewalk                  409 non-null    object
 67  trees_street_id           409 non-null    object
 68  date_root_prune_curb      409 non-null    object
 69  date_root_prune_driveway  409 non-null    object
 70  date_root_prune_sidewalk  409 non-null    object
 71  note_id                   409 non-null    object
 72  location_1                409 non-null    object
dtypes: float64(2), object(71)
memory usage: 233.4+ KB

In [10]:
pdf = df[['trees_id','inv_date','common','botanical','dbh','x','y']]

In [15]:
xdf = pdf.rename(columns={'x': 'latitude', 'y': 'longitude'})

In [17]:
xdf.head()

,trees_id,inv_date,common,botanical,dbh,latitude,longitude
0,321,1991-06-01T00:00:00.000,CARROTWOOD,CUPANIOPSIS ANACARDIOIDES,NULL,-118.443,34.0590
1,322,1991-06-01T00:00:00.000,CARROTWOOD,CUPANIOPSIS ANACARDIOIDES,NULL,-118.443,34.0590
2,365,1991-06-06T00:00:00.000,SOUTHERN MAGNOLIA,MAGNOLIA GRANDIFLORA,NULL,-118.440,34.0598
3,366,1991-05-30T00:00:00.000,NULL,NULL,0-3,-118.437,34.0606
4,3584,1991-06-04T00:00:00.000,NULL,NULL,12-24,-118.427,34.0676